{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}
{% block aboutActive %}{% endblock aboutActive %}
{% block body %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Us</h1>
        <p class="lead text-body-secondary">Welcome to CreativeInc, a haven for creatives. Explore captivating stories, stunning artwork, and thought-provoking articles. Join our vibrant community and unleash your creativity today!</p>
      </div>
    </div>
  </section>
{% endblock body %}