{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block homeActive %} active {% endblock homeActive %}
{% block body %}


<div class="p-4 p-md-5 mb-4 mt-2 rounded text-body-emphasis bg-body-secondary">
  <div class="container">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to <b>CreativeInc</b>!</h1>
      <p class="lead my-3">Unlock your imagination and let creativity thrive at CreativeInc, where inspiration meets
        innovation.</p>
    </div>
  </div>
</div>

<div class="container">
  
  <h3>Popular Blogs....</h3>
  {% for post in topPosts %}
  <div class="col-md-8 mt-3">
    <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <span>Written by - <strong class="d-inline-block mb-2 text-primary-emphasis">{{post.author}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-body-secondary">{{post.timeStamp}}</div>
        <p class="card-text mb-auto"><div class='preview'>{{post.content|truncatechars:90}}..</div></p>
        <a href="/blog/{{post.slug}}" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      
    </div>
  </div>
  {% endfor %}

</div>

{% endblock body %}
{% block js %}
    <script>
        let previews = document.getElementsByClassName('preview')
        Array.from(previews).forEach(element=>{
            element.innerHTML = lement.innerText;
        })
    </script>
{% endblock js %}