{% extends 'base.html' %}

{% block title %}Search{% endblock title %}
{% block css %}
<style>
    .blog-card{
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        margin-top: 20px;
        box-shadow: 0px 0px 5px rgb(215, 215, 215);
        width: 100%;
    }
</style>

{% endblock css %}

{% block body %}
<div class="container mt-4">
    <div class="row mb-2">
        {% if allPosts|length == 0 %}
        <span>Your search - <b>{{query}}</b> - did not match any documents.</span>
        <div class='mt-4'>
            Suggestions:
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        </div>
        {% endif %}
        {% for post in allPosts %}
            <div class="col-md-6 blog-card">
                <div class="g-0 flex-md-row position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <span>Written by - <strong class="d-inline-block mb-2 text-primary-emphasis">{{post.author}}</strong></span>
                        <h4 class="mb-0">{{post.title}}</h4>
                        <div class="mb-1 text-body-secondary">{{post.timeStamp}}</div>
                        <!-- <p class="card-text mb-auto previewPara">
                            <div id='preview{{post.sno}}' class="preview">{{post.content|safe | truncatechars:10}}..</div>
                        </p> -->
                        <div>
                            <a href="/blog/{{post.slug}}" class="icon-link gap-1 icon-link-hover stretched-link">
                                Continue reading
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}