{% extends 'base.html' %}

{% block title %}Blog Post{% endblock title %}

{% block body %}
<div class='container my-3'>
    <div class="col-md-8">

        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">{{post.title}}</h2>
            <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>
            
            <p>{{post.content}}</p>
            
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>

    </div>
</div>

{% endblock body %}